.quote {
  text-align: center;
}

.quote-description {
  font-size: 0.9rem;
  font-style: italic;
}

.quote-description.author {
  font-weight: bold;
  margin: 0;
}

.quote-loading {
  font-size: 1.5rem;
  font-weight: bold;
}
