:root {
  --CL-primary-orange: #f4903e;
  --CL-primary-light: #e0e1e1;
  --CL-primary-gray: #848692;
  --CL-neutral-white: #fff;
  --CL-neutral-black: #000;
}

.calculator-title {
  text-align: center;
  font-size: 1.8rem;
  color: var(--CL-secondary);
  margin: initial auto 0 auto;
}

.calculator {
  outline: 1px solid var(--CL-primary-light);
  max-width: 500px;
  margin: 3em auto;
}

.calculator-body {
  display: grid;
}

.calculator-result {
  padding: 0.5em;
  width: 100%;
  background-color: var(--CL-primary);
  color: white;
  outline: 1px solid var(--CL-primary-light);
  text-align: right;
  pointer-events: none;
  font-size: 2rem;
}

.calculator-result.active {
  background-color: var(--CL-neutral-black);
}

.calculator-group {
  display: inherit;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-button {
  padding: 1em 0;
  cursor: pointer;
  outline: 1px solid var(--CL-primary-light);
  transition: 0.15s;
  font-size: 0.95rem;
}

.calculator-button.operation {
  background-color: var(--CL-secondary);
  color: var(--CL-neutral-white);
}

.calculator-button.expanded {
  grid-column: 1 / 3;
}

.calculator-button:hover {
  background-color: var(--CL-primary-orange);
  transform: scale(1.05);
}

.calculator-button:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .calculator-result {
    font-size: 2.25rem;
  }

  .calculator-button {
    font-size: 1.2rem;
  }
}
